body {
  font-family: 'Montserrat', sans-serif;
  background-color: #fff;
  color: #2e2f42;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 8px;
  width: 1440px;
  margin: 0 auto;
  padding: 36px 156px;
}
ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  list-style-type: none;
  width: 100%;
  height: 30vh;
  margin: auto;
  padding: 0;
}
li {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid gray;
  border-radius: 20px;
  width: 225px;
  height: 30px;
  padding: 0;
}
li:hover {
  color: #000;
  border: 3px solid #000;
  font-size: 18px;
}
li:active {
  color: #5c03f6;
  border: 2px solid #5c03f6;
}
a {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: inherit;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
input {
  border: 1px solid #808080;
  border-radius: 4px;
  width: 272px;
  height: 40px;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  margin-bottom: 32px;
  box-sizing: border-box;
  padding: 8px 16px;
}
input:hover {
  border: 1px solid #000;
}
input:active {
  border: 1px solid #4e75ff;
  color: #000;
}
input:disabled {
  background-color: #fafafa;
  border: 1px solid #808080;
  color: #808080;
}
button {
  display: block;
  border-radius: 8px;
  border: none;
  padding: 8px 16px;
  width: 75px;
  height: 40px;
  background-color: #4e75ff;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #fff;
  cursor: pointer;
}
button:hover {
  background-color: #6c8cff;
  color: #fff;
}
button:disabled {
  background-color: #cfcfcf;
  color: #989898;
}
.timer {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  gap: 24px;
  width: 100%;
}
.field {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  gap: 0px;
  width: 61px;
  height: 72px;
}
.value {
  font-weight: 400;
  font-size: 40px;
  line-height: 120%;
  letter-spacing: 0.04em;
}
.label {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
}
.flatpickr-day.today {
  border: 1px solid #4e75ff !important;
  border-radius: 50% !important;
}

.iziToast.box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 353px;
  height: 64px;
  margin: auto;
}
/* #region Task-2 */
form {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}
label:first-of-type {
  display: flex;
  align-items: start;
  flex-direction: column;
  margin-bottom: 16px;
  gap: 8px;
}

input[type='number'] {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 360px;
  margin: 0;
}
input[type='radio'] {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: 32px;
  height: 32px;
  margin: 0;
  padding: 0;
}

fieldset {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 48px;
  width: 360px;
  padding: 24px 0 8px 0;
  margin: 0 0 24px 0;
  box-sizing: border-box;
  border-width: 1px;
  border-color: #808080;
  border-radius: 4px;
}
legend {
  margin-left: 28px;
}
fieldset label:has(> input[type='radio']) {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  gap: 8px;
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #2e2f42;
}
form button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  border-radius: 8px;
  padding: 8px 16px;
  width: 360px;
  height: 40px;
  background-color: #4e75ff;
}
/* #endregion */
